.form_section2{

        justify-content: center;
        display: flex;
        margin: 1rem 1rem;
        /* border: 3px solid blue; */
        padding: 1rem;
        /* background-color: rgb(208, 205, 248); */
        
}


.boder{
    padding: 1rem;
    border-style: solid;
    border-width: medium;
    border-radius: 5px;
    border-color: rgb(147, 238, 129);
}

/* #cvFiles{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-title{
    text-align: center;
    
} */

input{
    margin-top: 0.5rem;
}